#arrow.fadeout
section.deep-woods
    .gradient
section.copy
    h1 My Story
    p Grew up in India
        br
        | Went to
        a(href='http://woodstockschool.in/' ,target='_blank')  Woodstock
        br
        | Fell in love with nature
        br
        | Went to Syracuse University
        br
        | Marjored in Computer Engineering
        br
        | Minored in Entrepreneurship
        br
        | Grew appreciation for finance
        br
        | Studied abroad in London
        br
        | Secured an internship at Goldman Sachs
        br
        | Joined Entrepreneurship Club
        br
        | Joined forces with
        a(href='www.linkedin.com/pub/nick-mancini/1a/14/453' ,target='_blank')  Nick Mancini
        |  and
        a(href='www.linkedin.com/in/michaellundberg1' ,target='_blank')  Michael Lundberg
        br
        | Learned to code and design iOS apps
        br
        | Secured a spot at the
        a(href='http://www.syracusestudentsandbox.com/' ,target='_blank')  Syracuse Sandbox accelerator
        br
        | Co-founded
        a(href='https://www.behance.net/gallery/4668305/GrowndSwell' ,target='_blank')  GrowndSwell
        br
        | Relocated to New York City
        br
        | Product Manager and UX designer on the
        a(href='https://www.behance.net/gallery/9397407/CHARGEDfm-Terminal' ,target='_blank')  Charged.fm Terminal
        br
        | Transitioned as a Web Developer at
        a(href='https://citia.com/content/title/citia' ,target='_blank')  Citia
        br
        | Studied Human Centered Design at UMBC
        br
        | Currently Frontend Engineer at
        a(href='http://beatfreer.com/' ,target='_blank')  Beatfreer
    h3  The End
